@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&display=swap');

:root {
  --background: #F5EAF6;
  --background-alt: #EECEF1;
  --foreground: #E200F8;
  --foreground-alt: #EDB9F2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
}

body {
  color: var(--foreground);
  
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}